        <div class="<%= (isCategor ? 'col-xs-12' : 'col-sm-9') %> blog-posts">
          <section class="archives-wrap">
            <div class="archives">
            <% if (post.item.length > 1) { %>
              <% post.item.forEach((item) => { %>
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <img src="<%= item.src %>" class="img-responsive">
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <h2>
                      <a class="archive-article-title" href="<%= item.link %>"><%= item.title %></a>
                    </h2>
                    <ul class="blog-info">
                      <li>
                        <i class="iconfont icon-date"></i>
                        <time itemprop="datePublished"><%= moment(new Date(item.date)).format('YYYY-MM-DD HH:mm') %></time>
                      </li>
                      <li>
                        <i class="iconfont icon-comments"></i>
                        <a href="<%= item.link %>">comments</a>
                      </li>
                      <li>
                        <i class="iconfont icon-tage"></i>
                      <% item.tages.forEach((tage, index, array) => { %>
                        <a href="/tags/<%= tage %>"><%= tage %><%= (index + 1 !== array.length) ? ',' : ''  %></a>
                      <% }) %>
                      </li>
                    </ul>
                    <div class="blog-item">
                      <p><%= item.content %></p>
                    </div>
                    <a href="<%= item.link %>">阅读更多...</a>
                  </div>
                </div>
                <hr class="blog-post-sep">
              <% }) %>
            <% } else {%>
              <p>暂无内容</p>
            <% } %>
            </div>
            <% if (page.total > 2) { %>
              <%- new Pagination(page).render() %>
            <% } %>
          </section>
        </div>
